body{padding:25px;font:14px "Lucida Grande",Helvetica,Arial,sans-serif}a{color:#00B7FF}

#disablingDiv
{
    /* Do not display it on entry */
    display: none; 
 
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:1001;
     
    /* make it cover the whole screen */
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
 
    /* make it white but fully transparent */
    background-color: black; 
    opacity:.00; 
    filter: alpha(opacity=00); 
}